/* body */

body {
    color: hsl(192, 100%, 9%);
    font-family: "Open Sans", sans-serif;
    font-size: 1.15em;
    margin: 0;
}

container {
    margin: 50px;
}

.mockup {
    padding-top: 50px;
    float: right;
}

button {
    border-radius: 35px;
    height: 40px;
    border: none;
    width: 180px;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    float: right;
    margin-right: 50px;
}

.logo {
    padding-left: 50px;
    width: 12rem;
}

.mockup {
    max-width: 50%;
    height: auto;
    float: right;
}

header {
    background-image: url(../images/bg-hero-desktop.svg);
    background-size: cover;
    background-position: center center;
    background-color: hsl(193, 100%, 96%);
    padding: 40px 0;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    margin-bottom: 3.5rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-weight: 700;
    margin: 10px 0;
    padding-left: 50px;
}

p {
    float: left;
    padding-right: 2rem;
    flex-basis: 45%;
}

div .first-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: #00252e;
    height: 500px;
}
/* responsive styles */
@media(max-width: 500px) {
    body {
        background-image: url(../images/bg-hero-mobile.svg);
    }
}